<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <My.MySettings>
            <setting name="PS3DecExePath" serializeAs="String">
                <value>.\PS3Dec.exe</value>
            </setting>
            <setting name="EncryptedPS3DiscsDir" serializeAs="String">
                <value>.\Encrypted</value>
            </setting>
            <setting name="DecryptionKeysDir" serializeAs="String">
                <value>.\Keys</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>.\Decrypted</value>
            </setting>
            <setting name="DeleteDecryptedISOs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteKeysAfterUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSizeAndPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSettingsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>664, 531</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LogAppendMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
